{% extends 'base.html.twig' %}

{% block title %}Transporte index{% endblock %}

{% block body %}
    <h1>Transporte index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transporte in transportes %}
            <tr>
                <td>{{ transporte.id }}</td>
                <td>
                    <a href="{{ path('transporte_show', {'id': transporte.id}) }}">show</a>
                    <a href="{{ path('transporte_edit', {'id': transporte.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('transporte_new') }}">Create new</a>
{% endblock %}
