{% extends 'base.html.twig' %}

{% block title %}New Transporte{% endblock %}

{% block body %}
    <h1>Create new Transporte</h1>

    {{ include('transporte/_form.html.twig') }}

    <a href="{{ path('transporte_index') }}">back to list</a>
{% endblock %}
