{% extends 'base.html.twig' %}

{% block title %}Inicio index{% endblock %}
{% block stylesheets %}
       {{ encore_entry_link_tags('inicio') }}
            
{% endblock %}


{% block body %}
<div id="carousel">
       <div class="carousel-inner">
           <div class="carousel-item active">
               <img  src="https://i.pinimg.com/originals/a0/a3/18/a0a318b5264acf2b93e19f42a2ad4896.jpg" width=100% alt="First slide">
               <div class="carousel-caption">
               <h2>Atrévete a descubrir Alburquerque</h2>
          
       </div

           </div>
           
   </div>
{% endblock %}
