{% extends 'base.html.twig' %}

{% block title %}Edit Mapa{% endblock %}

{% block body %}
    <h1>Edit Mapa</h1>

    {{ include('mapa/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('mapa_index') }}">back to list</a>

    {{ include('mapa/_delete_form.html.twig') }}
{% endblock %}
