{% extends 'base.html.twig' %}

{% block title %}Mapa index{% endblock %}

{% block body %}
    



<div class="container container-fluid">
   <div class="row">
       <h1><b>Monumentos</b></h1>
       <div class="row">
               <div id="mapa" ></div>
       </div>
   </div>
</div>





{% endblock %}
