{% extends 'base.html.twig' %}

{% block title %}Mapa index{% endblock %}

{% block body %}
    <h1>Mapa index</h1>

    <div id="mapa" data-url="https://www.bufa.es/google-maps-latitud-longitud/"></div>
{% endblock %}
