{% extends 'base.html.twig' %}

{% block title %}Mapa index{% endblock %}

{% block body %}
    <h1>Mapa index</h1>
    <div class="container-fluid cont">
        <div id="mapa" ></div>
    </div>
{% endblock %}
