{% extends 'base.html.twig' %}

{% block title %}New Mapa{% endblock %}

{% block body %}
    <h1>Create new Mapa</h1>

    {{ include('mapa/_form.html.twig') }}

    <a href="{{ path('mapa_index') }}">back to list</a>
{% endblock %}
