{% extends 'base.html.twig' %}

{% block title %}Edit Hacer{% endblock %}

{% block body %}
    <h1>Edit Hacer</h1>

    {{ include('hacer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('hacer_index') }}">back to list</a>

    {{ include('hacer/_delete_form.html.twig') }}
{% endblock %}
