{% extends 'base.html.twig' %}

{% block title %}Hacer index{% endblock %}

{% block body %}
    <h1>Hacer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hacer in hacers %}
            <tr>
                <td>{{ hacer.id }}</td>
                <td>
                    <a href="{{ path('hacer_show', {'id': hacer.id}) }}">show</a>
                    <a href="{{ path('hacer_edit', {'id': hacer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('hacer_new') }}">Create new</a>
{% endblock %}
