{% extends 'base.html.twig' %}

{% block title %}Edit Comer{% endblock %}

{% block body %}
    <h1>Edit Comer</h1>

    {{ include('comer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('comer_index') }}">back to list</a>

    {{ include('comer/_delete_form.html.twig') }}
{% endblock %}
