{% extends 'base.html.twig' %}

{% block title %}Comer index{% endblock %}

{% block body %}
    <h1>Comer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comer in comers %}
            <tr>
                <td>{{ comer.id }}</td>
                <td>
                    <a href="{{ path('comer_show', {'id': comer.id}) }}">show</a>
                    <a href="{{ path('comer_edit', {'id': comer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('comer_new') }}">Create new</a>
{% endblock %}
