{% extends 'base.html.twig' %}

{% block title %}New Comer{% endblock %}

{% block body %}
    <h1>Create new Comer</h1>

    {{ include('comer/_form.html.twig') }}

    <a href="{{ path('comer_index') }}">back to list</a>
{% endblock %}
