@import '~bootstrap/dist/css/bootstrap.min.css';

#mapa{
  margin-top: 60px;
  margin-left: 80px;
  height: 400px;
  width: 750px;
  text-align: center;
}
.cont {
  margin-top: 70px;
}
.img-map {
  height: 170px;
  width: 200px;
}