  <div class="modal" id="mimodal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Titulo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
<<<<<<< HEAD
      <div class="modal-body">
        <img src="http://localhost:8000/imagenes/2.jpg">
        <p>texto</p>
      </div>
    </div>
  </div>
</div>
=======
     

           
 </div> 
 </div> 

 




   
        







>>>>>>> dcf9c9a2110984771503bd8ffab06a90048f7c0e
