<div class="row container-fluid" id="footer">
    <div class ="col">                  
                        
    </div>
    <br>
    <div class ="col logo_footer">                
        © Copyright 2018 Copyright.es - Todos los Derechos Reservados - Legal
    </div>
    <div class ="col">
                    
    </div>
</div>