<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="mimodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="row">
            <div class="col-md-7">
              <img src="#" width="500" text-align="center" alt="imagen">
            </div>    
            <div class="col-md-5">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
               <input value="" type="hidden"></input>
                    <h5>nombre</h5>
                    <br>
                    <p>descripcion</p>
                    <hr>
                    <p class="text-muted">direccion</p> 
            </div>
        </div>
    </div>
  </div>
</div>
